allure-behave==
allure-pytest==
allure-python-commons==
attrs==
behave==
certifi==
cffi==
charset-normalizer==
chromedrivermanager==
colorama==
configreader==
exceptiongroup==
execnet==
h11==
idna==
iniconfig==
outcome==
packaging==
parse==
parse-type==
pluggy==
pycparser==
PySocks==
pytest==
pytest-xdist==
pywin32==
requests==
selenium==
six==
sniffio==
sortedcontainers==
tomli==
trio==
trio-websocket==
typing_extensions==
urllib3==
websocket-client==
wsproto==
